.circle {
  border-radius: 50%;
	width: 14px;
  height: 14px;
  
  &.online {
    background: green;
  }
  &.offline {
    background: silver;
  }
}

.is-right {
  float: right;
}

.container {
  background: #fff;
  padding: 2%;
  min-height: 360px;
  margin-top: 5px;
}

.input-button-suffix {
  .ant-input-suffix {
    right: 0;
  }
}

.tag-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.logo {
  height: 90px;
  width: 100%;
  
  .ic-logo {
    display: flex;
    width: auto;
    height: inherit;
    background-size: contain;
    background-image: url(../src/shared/img/logo.png);
    background-repeat: no-repeat;
  }
}
